body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-buenard: Buenard;
  --font-lakki-reddy: "Lakki Reddy";
  --font-pattaya: Pattaya;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-45xl: 64px;
  --font-size-109xl: 128px;

  /* Colors */
  --color-dimgray: #5c363d;
  --color-white: #fff;
  --color-gainsboro: #d9d9d9;
  --color-black: #000;

  /* border radiuses */
  --br-11xs: 2px;
}


.pngegg-1-icon {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1183px;
  height: 826px;
  object-fit: cover;
}
.welcome {
  position: absolute;
  top: calc(50% - 133px);
  left: calc(50% - 304px);
  display: flex;
  align-items: center;
  width: 671px;
  height: 268px;
}
.pngwing-1-icon {
  position: absolute;
  top: 347.77px;
  left: 855.77px;
  border-radius: var(--br-11xs);
  width: 424.23px;
  height: 372.23px;
  object-fit: cover;
}
.ink-gd8b03e188-1280-1-icon,
.seekpng-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 765px;
  height: 324px;
  object-fit: cover;
}
.ink-gd8b03e188-1280-1-icon {
  left: 975px;
  width: 558px;
  height: 357px;
}
.desktop-1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray);
  width: 1280px;
  height: 720px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-109xl);
}
.cattails-gf567ce6c2-1280-1-icon,
.desktop-2-child,
.desktop-2-item {
  position: absolute;
  top: 422px;
  left: 0;
  width: 478px;
  height: 298px;
  object-fit: cover;
}
.desktop-2-child,
.desktop-2-item {
  top: 396px;
  left: 424px;
  width: 362px;
  height: 350px;
}
.desktop-2-item {
  top: 403px;
  left: 742px;
  width: 682px;
}
.desktop-2-inner,
.pngwing-3-icon,
.pngwing-4-icon {
  position: absolute;
  top: 396px;
  left: 1216px;
  width: 362px;
  height: 350px;
  object-fit: cover;
}
.pngwing-3-icon,
.pngwing-4-icon {
  top: 614px;
  left: 270px;
  width: 63px;
  height: 61px;
}
.pngwing-4-icon {
  left: 361px;
}
.pngwing-5-icon,
.pngwing-6-icon,
.pngwing-7-icon,
.pngwing-8-icon,
.pngwing-9-icon {
  position: absolute;
  top: 614px;
  left: 605px;
  width: 63px;
  height: 61px;
  object-fit: cover;
}
.pngwing-5-icon,
.pngwing-7-icon,
.pngwing-8-icon,
.pngwing-9-icon {
  left: 782px;
}
.pngwing-5-icon,
.pngwing-8-icon,
.pngwing-9-icon {
  top: 629px;
  left: 471px;
}
.pngwing-5-icon,
.pngwing-8-icon {
  left: 983px;
}
.pngwing-5-icon {
  top: 614px;
  left: 1184px;
}
.rectangle-div {
  position: absolute;
  top: 624px;
  left: 270px;
  background-color: var(--color-black);
  width: 201px;
  height: 122px;
}
.pngwing-11-icon,
.pngwing-2-icon {
  position: absolute;
  top: 154px;
  left: 0;
  width: 333px;
  height: 616px;
  object-fit: cover;
}
.pngwing-11-icon {
  top: 186px;
  left: 153px;
  width: 350px;
  height: 458px;
}
.kisspng-wreath-black-white-m-t-icon,
.kisspng-wreath-black-white-m-t-icon1 {
  position: absolute;
  top: 0;
  left: 50px;
  width: 682.85px;
  height: 187.94px;
  object-fit: cover;
}
.kisspng-wreath-black-white-m-t-icon1 {
  left: 983px;
  width: 638px;
  height: 598px;
}
.painting-of,
.the-service-that {
  position: absolute;
  top: 134px;
  left: 548px;
  font-size: var(--font-size-45xl);
}
.painting-of {
  top: 217px;
  left: 773px;
  font-size: var(--font-size-21xl);
}
.rectangle-icon {
  position: absolute;
  top: 309px;
  left: 1004px;
  width: 188px;
  height: 242px;
  object-fit: cover;
}
.abstract {
  position: absolute;
  top: 515px;
  left: 1012px;
}
.pcf1-8492-1420-art-amori-origi-icon {
  position: absolute;
  top: 309px;
  left: 548px;
  width: 188px;
  height: 242px;
  object-fit: cover;
}
.image-1-1,
.view {
  position: absolute;
  top: 515px;
  left: 556px;
}
.image-1-1 {
  top: 309px;
  left: 776px;
  width: 188px;
  height: 242px;
  object-fit: cover;
}
.animal,
.desktop-2 {
  position: absolute;
  top: 515px;
  left: 784px;
}
.desktop-2 {
  top: 720px;
  left: 0;
  background-color: var(--color-dimgray);
  width: 1280px;
  height: 720px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.about-me,
.nama-saya-angellita {
  position: absolute;
  display: flex;
  align-items: flex-end;
}
.about-me {
  top: 133px;
  left: 104px;
  justify-content: center;
  width: 191px;
  height: 67px;
}
.nama-saya-angellita {
  top: 317px;
  left: 89px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-pattaya);
  text-align: justify;
  width: 536px;
  height: 298px;
}
.desktop-3-child {
  position: absolute;
  top: 176px;
  left: 81px;
  width: 232.99px;
  height: 16px;
}
.desktop-3-item,
.group-icon {
  position: absolute;
  top: 181px;
  left: 109.89px;
  width: 216.11px;
  height: 11px;
}
.group-icon {
  top: 0;
  left: 650px;
  width: 1331.94px;
  height: 1022.88px;
  object-fit: cover;
}
.desktop-3 {
  position: absolute;
  top: 1440px;
  left: 0;
  background-color: var(--color-dimgray);
  width: 1280px;
  height: 720px;
  overflow: hidden;
  font-size: var(--font-size-21xl);
  font-family: var(--font-lakki-reddy);
}
.contact-me {
  position: absolute;
  top: 125px;
  left: 75px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 267px;
  height: 67px;
}
.icons8-whatsapp-1 {
  position: absolute;
  top: 228px;
  left: 105px;
  width: 290px;
  height: 290px;
  overflow: hidden;
}
.icons8-instagram-1,
.icons8-tiktok-1 {
  position: absolute;
  top: 236px;
  left: 508px;
  width: 275px;
  height: 275px;
  overflow: hidden;
}
.icons8-instagram-1 {
  top: 225px;
  left: 892px;
  width: 280px;
  height: 280px;
}
.angeldp-17,
.div,
.llitaa- {
  position: absolute;
  height: 9.44%;
  width: 25.55%;
  top: 71.94%;
  left: 6.72%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.angeldp-17,
.llitaa- {
  left: 37.27%;
}
.angeldp-17 {
  left: 67.81%;
}
.desktop-4,
.portfolio {
  position: absolute;
  left: 0;
}
.desktop-4 {
  top: 2160px;
  background-color: var(--color-dimgray);
  width: 1280px;
  height: 720px;
  overflow: hidden;
  font-size: var(--font-size-21xl);
  font-family: var(--font-lakki-reddy);
}
.portfolio {
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 267px;
  height: 67px;
}
.frame-child,
.frame-item {
  position: absolute;
  top: 51px;
  left: 6px;
  width: 232.99px;
  height: 16px;
}
.frame-item {
  top: 56px;
  left: 34.89px;
  width: 216.11px;
  height: 11px;
}
.portfolio-parent {
  position: absolute;
  top: 37px;
  left: 57px;
  width: 267px;
  height: 67px;
}
.star-four-points-icon-138146-1,
.star-four-points-icon-138146-2 {
  position: absolute;
  top: 52.15px;
  left: 880.15px;
  width: 51.69px;
  height: 51.69px;
  object-fit: cover;
}
.star-four-points-icon-138146-2 {
  top: 220px;
  left: 524px;
}
.star-four-points-icon-138146-3,
.star-four-points-icon-138146-7 {
  position: absolute;
  top: 632px;
  left: 1188px;
  width: 51.69px;
  height: 51.69px;
  object-fit: cover;
}
.star-four-points-icon-138146-3 {
  top: 246px;
  left: 63px;
}
.star-four-points-icon-138146-4,
.star-four-points-icon-138146-6 {
  position: absolute;
  top: 0;
  left: 272px;
  width: 51.69px;
  height: 25.69px;
  object-fit: cover;
}
.star-four-points-icon-138146-6 {
  left: 1009px;
  height: 26.69px;
}
.pngwing-12-icon,
.star-four-points-icon-138146-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 25.69px;
  height: 37.69px;
  object-fit: cover;
}
.pngwing-12-icon {
  top: 443px;
  width: 148px;
  height: 270px;
}
.pngegg-1-1,
.pngegg-1-2,
.pngegg-2-icon {
  position: absolute;
  top: 532px;
  left: 932px;
  width: 364px;
  height: 205px;
  object-fit: cover;
}
.pngegg-1-2,
.pngegg-2-icon {
  top: 259px;
  left: 1088px;
  width: 373px;
  height: 527px;
}
.pngegg-1-2 {
  top: 585px;
  left: 712px;
  width: 220px;
  height: 128px;
}
.pngegg-1-3,
.pngegg-1-4,
.pngegg-1-5 {
  position: absolute;
  top: 522px;
  left: 484px;
  width: 228px;
  height: 191px;
  object-fit: cover;
}
.pngegg-1-4,
.pngegg-1-5 {
  top: 585px;
  left: 256px;
  height: 128px;
}
.pngegg-1-5 {
  top: 592px;
  left: 0;
  width: 256px;
  height: 121px;
}
.pngwing-13-icon,
.pngwing-14-icon,
.pngwing-15-icon {
  position: absolute;
  top: 0;
  left: 1129px;
  width: 118.34px;
  height: 92.34px;
  object-fit: cover;
}
.pngwing-14-icon,
.pngwing-15-icon {
  left: 449px;
  width: 150.77px;
  height: 48.9px;
}
.pngwing-15-icon {
  top: 117px;
  left: 930px;
  height: 72.9px;
}
.pngegg-1-6,
.pngwing-16-icon,
.pngwing-17-icon,
.pngwing-18-icon {
  position: absolute;
  top: 287px;
  left: 1205px;
  width: 75px;
  height: 72.9px;
  object-fit: cover;
}
.pngegg-1-6,
.pngwing-16-icon,
.pngwing-17-icon {
  top: 44px;
  left: 1174px;
  width: 106px;
}
.pngegg-1-6,
.pngwing-16-icon {
  top: 56px;
  left: 0;
  width: 88.77px;
}
.pngegg-1-6 {
  top: 115px;
  left: 101px;
  width: 219px;
  height: 95px;
}
.pngegg-1-11,
.views {
  position: absolute;
  top: 135px;
  left: 155px;
}
.pngegg-1-11 {
  top: 111px;
  left: 524px;
  width: 219px;
  height: 95px;
  object-fit: cover;
}
.animals,
.pngegg-1-12 {
  position: absolute;
  top: 139px;
  left: 565px;
}
.pngegg-1-12 {
  top: 102px;
  left: 926px;
  width: 219px;
  height: 95px;
  object-fit: cover;
}
.abstract1 {
  position: absolute;
  top: 131px;
  left: 959px;
}
.lovepik-com-400883128-aestheti-icon,
.lovepik-com-401217042-chinese-icon {
  position: absolute;
  top: 210px;
  left: 13px;
  width: 156px;
  height: 156px;
  object-fit: cover;
}
.lovepik-com-400883128-aestheti-icon {
  left: 194px;
  width: 240px;
  height: 143px;
}
.pngegg-3-icon,
.pngwing-19-icon,
.pngwing-20-icon {
  position: absolute;
  top: 320px;
  left: 0;
  width: 240px;
  height: 172px;
  object-fit: cover;
}
.pngegg-3-icon,
.pngwing-20-icon {
  top: 374px;
  left: 247px;
  width: 189.06px;
  height: 118px;
}
.pngegg-3-icon {
  top: 467px;
  left: 148px;
  width: 250px;
  height: 250px;
}
.pngegg-1-10,
.pngegg-2-1,
.pngwing-21-icon {
  position: absolute;
  top: 192px;
  left: 504px;
  width: 131px;
  height: 161px;
  object-fit: cover;
}
.pngegg-2-1,
.pngwing-21-icon {
  top: 197px;
  left: 608px;
  width: 207px;
  height: 169px;
}
.pngegg-2-1 {
  top: 366px;
  left: 514px;
  width: 107px;
  height: 142px;
}
.pngegg-3-1,
.pngwing-22-icon,
.pngwing-23-icon {
  position: absolute;
  top: 350px;
  left: 640px;
  width: 122px;
  height: 172px;
  object-fit: cover;
}
.pngegg-3-1,
.pngwing-23-icon {
  top: 522px;
  left: 570px;
  width: 164px;
  height: 180px;
}
.pngwing-23-icon {
  top: 213px;
  left: 847px;
  width: 236px;
  height: 132px;
}
.pngegg-4-1,
.pngwing-24-icon,
.pngwing-25-icon {
  position: absolute;
  top: 175px;
  left: 1092px;
  width: 136px;
  height: 194px;
  object-fit: cover;
}
.pngegg-4-1,
.pngwing-25-icon {
  top: 341px;
  left: 863px;
  width: 127px;
  height: 191px;
}
.pngegg-4-1 {
  top: 366px;
  left: 983px;
  width: 181px;
  height: 181px;
}
.pexels-steve-johnson-1777558-1-icon {
  position: absolute;
  top: 547px;
  left: 930px;
  width: 179px;
  height: 130px;
  object-fit: cover;
}
.desktop-8,
.frame-inner {
  position: absolute;
  left: 0;
  width: 1280px;
  overflow: hidden;
}
.desktop-8 {
  top: 2878px;
  background: linear-gradient(
      rgba(104, 131, 123, 0.2),
      rgba(104, 131, 123, 0.2)
    ),
    linear-gradient(180deg, rgba(94, 167, 199, 0.2), transparent),
    linear-gradient(208.89deg, rgba(0, 0, 0, 0.2), transparent), #995959;
  height: 720px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-lakki-reddy);
}
.frame-inner {
  top: 0;
  background-color: var(--color-gainsboro);
  height: 47px;
  mix-blend-mode: color-burn;
}
.about-me1,
.contact-me1,
.home,
.portfolio1 {
  position: absolute;
  top: 13px;
  left: 808px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 21px;
}
.about-me1,
.contact-me1,
.portfolio1 {
  left: 915px;
}
.contact-me1,
.portfolio1 {
  left: 1022px;
  width: 108px;
}
.portfolio1 {
  left: 1146px;
}
.desktop-1-parent,
.frame-parent {
  position: relative;
  overflow: hidden;
}
.desktop-1-parent {
  background-color: var(--color-white);
  width: 1280px;
  height: 3591px;
  flex-shrink: 0;
}
.frame-parent {
  background-color: var(--color-dimgray);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-buenard);
}
